.slick-next {
  right: 3%;
  z-index: 999;
}

.slick-prev {
  left: 5%;
  z-index: 999;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 3;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
